apiVersion: v1
kind: ConfigMap
metadata:
  name: boundary-worker-config
  namespace: aniket-test
data:
  boundary-worker.hcl: |
    disable_mlock = true

    worker {
      name = "k8s-worker"
      controllers = ["http://boundary:9200"]
    }

    listener "tcp" {
      address = "0.0.0.0:9202"
      purpose = "proxy"
    }
